<?xml version="1.0"?>

<model>
  <name>rovservo</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>wassfila</name>
    <email></email>
  </author>

  <description>
    Robot with instances of servomotors
  </description>

  <depend>
    <model>
      <uri>model://servo_ax12a</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
